.main{
    background-color: rgb(215, 210, 220);
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContent{
    background-color: #fff;
    box-shadow: -15px 15px 10px rgba(179, 179, 179, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
}

.header{
    background-image: url('/boloDeCenoura.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 10px 15px rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
}

.part1{
    margin-bottom: 20px;
}

.part1 h1{
    font-size: 38px;
    font-weight: 900;
    background: linear-gradient(-20deg, yellow, red );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.part1 p{
    color: white;
    font-weight: 700;
}

.part2{
    background-color: orangered;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.item{
    display: flex;
    color: #fff;
    align-items: center;
    font-weight: 700;
}

.itemSep{
    content: "";
    background-color: rgba(299, 299, 299, 0.5);
    position: relative;
    height: 100%;
    width: 1px;
    top: 0;
}


.recContent{
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
}

.titleContent{
    color: aqua;
}

.ingredientesContent{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.ingredientes{
    display: flex;
    list-style: upper-roman;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.ingredientes p{
    font-size:18px;
    font-weight: 600;
}

.ingredientes li{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 100%;
}
.ingredientes li::marker{
   font-size: 20px;
   font-weight: bolder;
}

.ingredientesContent h3{
    margin: 10px 0;
}

.imgContent{
    width: auto;
    border-radius: 20px;
    background-color: black;
    position: relative;
    display: inline-block;
}
.imgContent img{
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: block;
}
.overlayImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

@media screen and (max-width:768px) {
    .mainContent{
        width: 450px;
    }
}