.main{
    background-color: rgb(242, 242, 242);
}

.mainContent{
    height: calc(100dvh - 250px);
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textBox{
    background-color: rgb(235, 155, 7);
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    width: 900px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px rgb(248, 162, 71);
}

.textBox > h1{
    font-size: 30px;
    color: #fff;
}

@media screen and (max-width:768px){
    .textBox{
        width: auto;
    }
    .textBox > h1{
        font-size: 20px;
        color: #fff;
    }
}

